appnope
backcall
certifi
chardet
decorator
idna
ipython
ipython-genutils
jedi
jieba
parso
pexpect
pickleshare
prompt-toolkit
psutil
ptyprocess
Pygments
requests
six
stanfordcorenlp
traitlets
urllib3
wcwidth
